.clock {
  height: 100px;
  font-size: 80px;
  width: 300px;
  margin: 200px auto; /* Center the clock horizontally */
  text-align: center;
  border: 10px solid black;
  border-radius: 20px;
  padding: 20px;
}
